*{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body{
    background: #080808;
    color: #f48404;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(../css/fire_background.jpg);
    background-size: cover;
    background-position: center;
}

.title-text{
    font-size: 25px;
    font-style: oblique;
    text-shadow: 
    -1px -1px 0 #5b1dec,
    1px -1px 0 #5b1dec,
    -1px 1px 0 #5b1dec,
    1px 1px 0 #5b1dec; 
}

#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

