html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #eee;
}

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}

body {
    background: #080808;
    color: #f48404;
    background-image: url(../css/fire_background.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    color:#5b1dec;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    text-shadow: -1px -1px 0 #f48404, 1px -1px 0 #f48404, -1px 1px 0 #f48404, 1px 1px 0 #f48404; 

}

h1 {
    width: 100%;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    text-shadow: -1px -1px 0 #5b1dec, 1px -1px 0 #5b1dec, -1px 1px 0 #5b1dec, 1px 1px 0 #5b1dec; 
}

.chartBox {
    width: 1000px;
    display: block;
    margin: 0 auto;
}

#map {
    margin: auto;
    height: 500px;
}

@media screen and (max-width: 1000px) {
    #map {
        width: 95%;
    }
}
  
@media screen and (min-width: 1001px) {
    #map {
        width: 980px;
    }
}

/* Create a darkmode map */
.leaflet-control-layers,
.leaflet-control-fullscreen,
.leaflet-control-zoom,
.leaflet-popup-pane,
.leaflet-tile-pane {
  filter: invert(100%) hue-rotate(200deg);
}

.leaflet-control-attribution.leaflet-control {
  background: #111;
  color: #ccc
}

.leaflet-control-layers-list {
  font-size: 1.3em;
}

.leaflet-container {
  background-color: #333; /*No bright flash */
}

#selection_row {
    width: 100%;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    text-shadow: -0.5px -0.5px 0 #5b1dec, 0.5px -0.5px 0 #5b1dec, -0.5px 0.5px 0 #5b1dec, 0.5px 0.5px 0 #5b1dec; 
}

.dropdown { 
    display: inline-block; 
    position: relative; 
} 

section {
    position: fixed;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    padding: 2em 0em;
    width: 100%;
    bottom: 0;
    height: 30px;
    background: #222;
    color: #f48404;
}
