<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Analysis</title>

    <!-- External scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
    <!-- Leaflet CSS, JavaScript Code, and Heatmap Library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

    <!-- Our Personal CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div id="header">
    <div class="container">
        <div class="title-text">
            <h1>Forest Fire Analysis</h1>
            <!-- <img some logo?> -->
        </div>

    </div>

</div>

    <!-- The div that holds our map -->
    <div id="map-id"></div>
    
    <script type="text/javascript" src="../static/js/logic.js"></script>
</body>
</html>