<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Analysis</title>
    <link rel="icon" href="../Images/fire_logo.png"> <!-- Added logo -->

    <!-- External scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
    <!-- Leaflet CSS, JavaScript Code, and Heatmap Library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Full Screen Map button: https://github.com/Leaflet/Leaflet.fullscreen -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!-- Papaparse Plug-in -->
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>

    <!-- Our Personal CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div>

        <header>Wildfire Awareness:</header>
        <h1>The Varying Causes, Costs, and Concerns of the 21st Century</h1>
        <hr>
        <div id="map"></div>
        <hr>
        <div id="selection_row">   
            <label for="years">Choose Year and File for Fire Analysis:</label>
            <select id="year">
                <option value="---">---</option>
                <option value="21">2001</option>
                <option value="20">2002</option>
                <option value="19">2003</option>
                <option value="18">2004</option>
                <option value="17">2005</option>
                <option value="16">2006</option>
                <option value="15">2007</option>
                <option value="14">2008</option>
                <option value="13">2009</option>
                <option value="12">2010</option>
                <option value="11">2011</option>
                <option value="10">2012</option>
                <option value="9">2013</option>
                <option value="8">2014</option>
                <option value="7">2015</option>
                <option value="6">2016</option>
                <option value="5">2017</option>
                <option value="4">2018</option>
                <option value="3">2019</option>
                <option value="2">2020</option>
                <option value="1">2021</option>
                <option value="0">2022</option>
            </select>
            <input type="file" id="uploadfile" accept=".csv">
            <button id="uploadconfirm"> Upload File</button>
            <a href="../data/Human-Nature-Wildfire-Totals.csv" download>Fires</a>
            <label>|</label>
            <a href="../data/Human-Nature-Acreage-Totals.csv" download>Acreages</a>
            <hr>
            <label>Choose U.S. Region:</label>
            <p>
                <button onclick="updateChart('Alaska')">Alaska</button>
                <button onclick="updateChart('Northwest')">Northwest</button>
                <button onclick="updateChart('Northern California')">Northern California</button>
                <button onclick="updateChart('Southern California')">Southern California</button>
                <button onclick="updateChart('Northern Rockies')">Northern Rockies</button>
                <button onclick="updateChart('Great Basin')">Great Basin</button>
                <p>
                <button onclick="updateChart('Western Great Basin')">Western Great Basin</button>
                <button onclick="updateChart('Southwest')">Southwest</button>
                <button onclick="updateChart('Rocky Mountains')">Rocky Mountains</button>
                <button onclick="updateChart('Eastern Area')">Eastern Area</button>
                <button onclick="updateChart('Southern Area')">Southern Area</button>
                <button onclick="updateChart('Total')">Total</button>
            </p>
            </div>
            <pre>
        <div class="chartBox"> 
            <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        <div class="plot" id="Pie"></div>
        <div class="plot" id="Bubble"></div>
        <div class="plot" id="BarTotal"></div>
            </pre>
            <hr>
        <section>
            <article class="first-footer">
                <footer class="footer">Developed by: Evan, Gabriella, Jonathan, Juliana</footer>
            </article>
            <article class="second-footer">
                <footer class="footer">Project for: SMU Data Analytics Boot Camp (2023)</footer>
            </article>
            <article class="third-footer">
                <footer class="footer">Project/Data Sources: <a href="https://github.com/jccrock311/project-3/blob/main/README.md">HERE</a></footer>
            </article>
        </section>
        </div>

    <!-- Holds our map -->
    <div id="map"></div>

    <!-- Our Personal JS -->
    <script type="text/javascript" src="../static/js/logic.js"></script>
    <script type="text/javascript" src="../static/js/years.js"></script>
    <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>

</body>
</html>