<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Analysis</title>
    <link rel="icon" href="../Images/fire_logo.png"> <!-- Added logo -->

    <!-- External scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
    <!-- Leaflet CSS, JavaScript Code, and Heatmap Library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

    <!-- Our Personal CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div>
        <header>Wildfire Awareness:</header>
            <h1>The Varying Causes, Costs, and Concerns (2013-2023)</h1>
        <hr>
        <div id="map"></div>
        <hr>
        <div id="selection_row">   
            <label for="years">Choose Year for Fire Analysis:</label>
                <select id="year" name="years"></select>
        </div>
        <pre>
        <div class="plot" id="Acreage"></div>
        <div class="plot" id="Pie"></div>
        <div class="plot" id="Bubble"></div>
        </pre>
        <hr>
        <section>
            <article class="first-footer">
                <footer class="footer">Project developed by: Evan, Gabriella, Jonathan, Juliana</footer>
            </article>
            <article class="second-footer">
                <footer class="footer">Data Sources<a href="https://docs.google.com/document/d/11EFZbRMMOHIQnChSnkdUt8v8uDqvKjthD06gNujhcWQ/edit?pli=1">
                    Here</a></footer>
            </article>
        </section>
    </div>


            <!-- Holds our map -->
            <div id="map-id"></div>
    
            <!-- Our Personal JS -->
            <script type="text/javascript" src="../static/js/logic.js"></script>
            <script type="text/javascript" src="../static/js/years.js"></script>
</body>
</html>